manifest {
    homePage = 'http://github.com/edgano/'
    description = ''
    mainScript = 'main.nf'
}

process {
    executor = 'crg'
    queue = { (task.attempt < 4 ? 'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }
    time = '160h'
    memory = { (task.attempt < 4 ? (12.GB * task.attempt) : 
                task.attempt < 7 ? (18.GB * task.attempt) : 
                task.attempt <  8 ? '248.GB' : 
                '496.GB')}
    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
    maxRetries = 7
    //container = 'cbcrg/regressive-msa:latest'
    container = 'edgano/homoplasy:latest'
    //scratch = true  // for docker use
}
tower {
  accessToken = 'f11857c4ae7a82ddab1cd9fc9860bf15db63af86'
  enabled = true
}
singularity {
   enabled = true
}
env {
    CACHE_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/cache'
    LOCKDIR_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/lock'
    TMP_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/tmp'
    DUMMY='$(mkdir -p $CACHE_4_TCOFFEE; mkdir -p $LOCKDIR_4_TCOFFEE; mkdir -p $TMP_4_TCOFFEE)'
}