manifest {
    homePage = 'http://github.com/edgano/'
    description = ''
    mainScript = 'main.nf'
}

//cleanup = true

process {
    executor = 'crg'
    queue = { (task.attempt < 4 ? 'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }

    time = '160h'
    memory = { (84.GB * task.attempt) }

    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
    maxRetries = 7

    //container = 'cbcrg/regressive-msa:latest'
    container = 'edgano/homoplasy:latest'
    //scratch = true  // for docker use
}
tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}
singularity {
   enabled = true
}
env {
    CACHE_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/cache'
    LOCKDIR_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/lock'
    TMP_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/tmp'
    DUMMY='$(mkdir -p $CACHE_4_TCOFFEE; mkdir -p $LOCKDIR_4_TCOFFEE; mkdir -p $TMP_4_TCOFFEE)'
}
